body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #76d7c4 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: auto;
    margin-right: 5px;
    border-radius: 100%;
}

.logo a {
    font-size: 20px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu li {
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    text-align: center;
}

.menu a:hover {
    color: #e8f8f5;
}
